:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(25, 55, 155, 0.15);
}

/* -------------------------------------------------------------Header Style---------------------------------------------------------- */
.header {
    background-color: var(--color5);
}

header {
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    flex-basis: 48%;
    margin-bottom: 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--color1);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--color4);
    border-radius: 5px;
    padding: 0.5rem 1.50rem;
    display: block;
}

nav ul li:first-child>a {
    background-color: transparent;
}

nav ul li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav ul a:hover {
    background-color: var(--color1);
    color: var(--color4);
}

/* ==========================================================Header Style End================================================ */

/* ----------------------------------------------------------Banner Style Start---------------------------------------------- */
#hero {
    background-color: var(--color8);
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#hero img {
    max-height: 450px;
    max-width: 100%;
}

/* ==========================================================Banner Style End================================================ */

/* ----------------------------------------------------------Our Mission Start----------------------------------------------- */
section {
    margin: 0 auto 5rem auto;
    padding: 0 1rem;
    max-width: 1200px;
}

#mission {
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2.20rem;
}

.missioning {
    max-height: 100px;
    display: block;
}

.mission-text p {
    font-size: 1rem;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    display: block;
}

/* ==========================================================Our Mission End================================================= */

/* ----------------------------------------------------------Popular Style Start--------------------------------------------- */
.stripe {
    background-color: var(--color2);
    color: #fff;
    padding: 1rem 0;
}

section #popular-prints {
    max-width: 1400px;
    margin: 0 0 0.5rem 0;
    padding: 0 1rem;
}

figure {
    max-height: 400px;
    overflow: hidden;
    margin: 0 auto 0.5rem auto;
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    /* padding: 0; */
}

figure img {
    object-fit: cover;
    object-position: 0;
    width: 100%;
    height: 400px;
}

/* section .li {
    display: flex;
    justify-content: center;
    align-items: center;
} */

figcaption {
    position: absolute;
    bottom: 0;
    padding: 1.20rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

figcaption a {
    text-decoration: none;
    font-size: 1.80rem;
    color: #000;
    display: block;
}

.color-red,
.color-red a:hover {
    border-color: var(--color9);
    color: var(--color9);
}

.color-orange,
.color-orange a:hover {
    border-color: var(--color7);
    color: var(--color7);
}

.color-green,
.color-green a:hover {
    border-color: var(--color4);
    color: var(--color4);
}

/* ==========================================================Popular Style End=============================================== */

/* ----------------------------------------------------------Featured Print Start-------------------------------------------- */
.color-yellow,
.color-yellow a:hover {
    border-color: var(--color6);
    color: var(--color6);
}

#featured-print figure img {
    width: 100%;
    max-height: 250px;
    object-fit: fill;
    object-position: center;
}

/* ==========================================================Featured Print End============================================== */

/* ----------------------------------------------------------Collections Style Start----------------------------------------- */
.color-blue,
.color-blue a:hover {
    border-color: var(--color2);
    color: var(--color2);
}

.color-skyblue,
.color-skyblue a:hover {
    border-color: var(--color3);
    color: var(--color3);
}

/* ==========================================================Collections Style End=========================================== */

/* ----------------------------------------------------------Footer Style Start---------------------------------------------- */
.footer {
    background-color: var(--color5);
}

footer {
    padding: 3rem;
}

.social ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.social li {
    margin-right: 1rem;
}

footer address {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

/* ==========================================================Footer Style End================================================ */

/* ==========================================================Media Qeury Mobile============================================== */
@media(min-width: 500px) {
    header {
        padding: 2rem;
    }

    nav li {
        flex-basis: auto;
        margin-bottom: 0;
    }

    nav a {
        padding: 0;
        color: #000;
        background-color: transparent;
        font-weight: 530;
        /* text-align: center; */
    }

    nav ul {
        justify-content: center;
        gap: 1.5rem;
    }

    nav ul a:hover {
        background-color: transparent;
        color: var(--color1);
    }

    .mission-text {
        display: flow-root;
        max-width: 1200px;
    }

    .missioning {
        float: left;
        shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%, 51.64% 4.06%, 55.1% 2.38%);
        max-width: 250px;
    }

    .ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .ul .li {
        flex-basis: 48%;
    }

    #popular-prints .ul .li:last-child {
        flex-basis: 100%;
    }

    #featured-print figure img {
        max-height: 400px;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .social {
        flex-basis: 50%;
    }
}

/* ==========================================================Media Qeury Desktop============================================= */
@media(min-width: 800px) {
    header {
        padding: 2rem 5rem;
    }

    nav ul li:first-child {
        flex-basis: auto;
        order: 2;
        margin: 0 auto;
    }

    nav ul li:nth-child(2),
    nav ul li:nth-child(3) {
        order: 1;
    }

    nav ul li:nth-child(4),
    nav ul li:nth-child(5) {
        order: 3;
    }

    nav a {
        font-weight: 540;
        /* letter-spacing: 0.1rem; */
    }

    .missioning {
        max-width: 300px;
    }

    .ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .ul .li {
        flex-basis: 32%;
    }

    #popular-prints .ul .li:last-child {
        flex-basis: 32%;
    }

    footer .social {
        flex-basis: 42%;
    }
}

/* ==========================================================Media Large Screen============================================== */
@media(min-width: 1440px) {
    footer {
        margin-left: 10rem;
    }
}

@media(min-width: 1500px) and (max-width: 2560px) {
    footer {
        margin-left: 45rem;
    }
}